*{
    margin: 0;
    padding: 0;
    font-style: roboto;
}

h1{
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

fieldset{
    margin: 1rem;
}

label{
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
}